<main class="">
	<!--banner-->
	<section class="banner">
		<div class="container-fluid">
			<navbar></navbar>
		</div>
		<div class="container">
			<div class="row justify-content-md-center align-items-center">
				<div class="col-lg-12 align-self-center">
					<div class="search-box">
						<h1 >Frequently Asked Questions</h1>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--banner-->
<section class="list-faqs">
  <div *ngFor="let cat of data">
    <h4>{{cat.title}}</h4>
		<ul>
	    <li *ngFor="let ques of cat.questionset">
	      <h5>{{ques.question}}</h5>
	      <p [innerHTML]="ques.answer"></p>
	    </li>
		</ul>
  </div>
</section>


  <app-footer></app-footer>
</main>
