<!--<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xl-4">
        <a [routerLink]="['/']" class="footer-logo"><img src="images/footer-logo.png" alt="" /></a>
        <p>Find the most affordable tours without paying multiple layers of fees</p>
      </div>
      <div class="col-xl-8">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-6">
                <h4>About Us</h4>
                <ul>
                  <li><a [routerLink]="['/story']">Our Story</a></li>
                  <li><a [routerLink]="['/use-atorvia']">Why use Atorvia?</a></li>
                  <li><a [routerLink]="['/sell']">Sell on Atorvia</a></li>
                  <li><a [routerLink]="['/contact-us']">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-6">
                <h4>Customer Care</h4>
                <ul>
                  <li><a [routerLink]="['/faqs']">Frequently Asked Questions</a></li>
                  <li><a [routerLink]="['/terms']">Terms & Conditions</a></li>
                  <li><a [routerLink]="['/privacy']">Privacy Policy</a></li>
                  <li><a [routerLink]="['/contact-us']">Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h4>About Us</h4>
            <div class="social-link">
              <a href="javascript:void(0)"><img src="images/facebook.png" alt=""/></a>
              <a href="javascript:void(0)"><img src="images/twitter.png" alt=""/></a>
              <a href="javascript:void(0)"><img src="images/s3.png" alt=""/></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>-->

<footer class="mastfoot">
    <div class="container">
        <div class="mastfoot__menus">
            <h6 class="mastfoot__heading">Company</h6>
            <ul class="list mastfoot__list">
                <li class="list__item"><a [routerLink]="['/about-us']" class="list__link mastfoot__link">About Us</a></li>
                <li class="list__item"><a [routerLink]="['/how-to-book']" class="list__link mastfoot__link">How to book?</a></li>
                <li class="list__item"><a [routerLink]="['/contact-us']" class="list__link mastfoot__link">Contact Us</a></li>
            </ul>
        </div>
        <div class="mastfoot__menus">
            <h6 class="mastfoot__heading">Policies</h6>
            <ul class="list mastfoot__list">
                <li class="list__item"><a [routerLink]="['/terms']" class="list__link mastfoot__link">Terms &amp; Conditions</a></li>
                <li class="list__item"><a [routerLink]="['/privacy']" class="list__link mastfoot__link">Privacy Policy</a></li>
                <li class="list__item"><a href="refund-policy.html" class="list__link mastfoot__link">Refund Policy</a></li>
            </ul>
        </div>
        <div class="mastfoot__menus">
            <h6 class="mastfoot__heading">Partnership</h6>
            <ul class="list mastfoot__list">
                <li class="list__item"><a href="partner-with-us.html" class="list__link mastfoot__link">Why sell on Atorvia?</a></li>
                <li class="list__item"><a href="partnership-terms.html" class="list__link mastfoot__link">Partnership T &amp; Cs</a></li>
                <li class="list__item"><a href="" class="list__link mastfoot__link">Supplier Login</a></li>
                <li class="list__item"><a href="" class="list__link mastfoot__link">Supplier Signup</a></li>
            </ul>
        </div>
        <div class="mastfoot__menus mastfoot__menus--large">
            <h6 class="mastfoot__heading">Need Help?</h6>
            <p class="mastfoot__text">Having trouble on or before your travel date? You can call our 24/7 hotline anytime or email your enquiries to us.</p>
            <!-- Contact Info -->
            <ul class="info">
                <li class="info__item">
                    <i class="material-icons info__icon">mail</i>
                    <div class="info__content">
                        <a href="mailto:support@atorvia.com" class="info__link">support@atorvia.com</a>
                    </div>
                </li>
                <li class="info__item">
                    <i class="material-icons info__icon">phone</i>
                    <div class="info__content">
                        <p class="info__text">(07) 3000 0000 | Office Hour</p>
                        <p class="info__text">(07) 3000 0001 | 24/7 Support</p>
                    </div>
                </li>
            </ul>
            <!-- Social Icons -->
            <ul class="social">
                <li class="social__item"><a href="#" class="social__link social__link--facebook"><i class="fa fa-facebook"></i></a></li>
                <li class="social__item"><a href="#" class="social__link social__link--twitter"><i class="fa fa-twitter"></i></a></li>
                <li class="social__item"><a href="#" class="social__link social__link--instagram"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <p class="copyright__text">&copy; 2017 Atorvia Travel Pty Ltd. All rights reserved. ACN 000 000 000.</p>
            <p class="copyright__text">IATA registered agent number 00000000.</p>
        </div>
    </div>
</footer>