<header class="user-header" *ngIf="!!user">
  <div class="container-fluid">
    <nav class="navbar navbar-toggleable-md">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i>
        </span>
      </button>
      <a class="navbar-brand" [routerLink]="['/']"><img src="images/logo.png" alt=""/></a>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" *ngIf="displayMenu" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/bookings']">Bookings</a>
          </li>
          <li class="nav-item" *ngIf="displayMenu" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/profile']">Profile</a>
          </li>
          <li class="user-drop">
            <span class="navbar-text">
              <ul class="pull-right">
                <li>
                  <span class="user-img">
                    <img src="images/user.png" alt="" *ngIf="! user.profile?.image?.url" />
                    <img src="uploads/images/{{user?.profile.image.id}}-102-102.jpg" alt="" *ngIf="!! user.profile?.image?.url" />
                  </span>
                  <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{user.profile.fullName}}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <button class="dropdown-item" type="button" [routerLink]="['/changepassword']">Change Password</button>
                      <button class="dropdown-item" type="button" href="javascript:void(0);" (click)="logout()">Logout</button>
                    </div>
                  </div>
                </li>
              </ul>
            </span>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>