<header-main *ngIf="!! user" [displayMenu]="false"></header-main>
<main class="payment" *ngIf="!! bookingDetails">
  <booking-header [booking]="bookingDetails" [tour]="tour"></booking-header>
  <div class="grey-bg step-1">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <ul class="tab-list">
            <li class="active">
              <a href="javascript:void(0)">
                <span>1</span>
                <div class="tab-detail">
                  <h4>Traveller Details</h4>
                </div>
              </a>
            </li>
            <li class="disabled" *ngIf="bookingDetails.tour.hasFlight">
              <a href="javascript:void(0)">
                <span>2</span>
                <div class="tab-detail">
                  <h4>Payment</h4>
                </a>
              </li>
              <li class="disabled">
                <a href="javascript:void(0)">
                  <span *ngIf="bookingDetails.tour.hasFlight">3</span>
                  <span *ngIf="! bookingDetails.tour.hasFlight">2</span>
                  <div class="tab-detail">
                    <h4>Confirmation</h4>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-8">
            <form >
              <div >
                <div [formGroup]="bookingForm" #f="ngForm">
                  <section  formArrayName="travellers" class="right-wrap" *ngFor="let row of bookingForm.controls.travellers.controls; let i=index">
                  <div class="tour-header">
                    <h3>Traveller {{i+1}}<span>* Required Fields</span>
                      <span class="pull-right">
                        <a href="javascript:void(0)"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
                      </span></h3>
                    </div>
                    <div class="steps step1-form" [formGroupName]="i">
                      <div class="from-inner">
                        <div class="row">
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label [for]="'fname'+i">First Name *</label>
                              <div class="input-wrap">
                                <input type="text" name="" class="form-control" [id]="'fname'+i" placeholder="First Name" formControlName="firstName">
                              </div>
                              <div *ngIf="bookingForm.controls.travellers.controls[i].controls.firstName.errors && bookingForm.controls.travellers.controls[i].controls.firstName.touched" class="has-error">
                                <div *ngIf="bookingForm.controls.travellers.controls[i].controls.firstName.hasError('required')">You have to fill in First Name to continue.</div>
                                <div *ngIf="bookingForm.controls.travellers.controls[i].controls.firstName.hasError('minlength')">Min 2 characters required.</div>
                                <div *ngIf="bookingForm.controls.travellers.controls[i].controls.firstName.hasError('maxlength')">Max 30 characters allowed.</div>
                                <div *ngIf="bookingForm.controls.travellers.controls[i].controls.firstName.hasError('validateFirstName')">Please type valid First Name.</div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label [for]="'name'+i">Middle Name</label>
                              <div class="input-wrap">
                                <input type="text" name="" class="form-control" [id]="'name'+i" placeholder="Middle Name" formControlName="middleName">
                              </div>
                              <div *ngIf="bookingForm.controls.travellers.controls[i].controls.middleName.errors && bookingForm.controls.travellers.controls[i].controls.middleName.touched" class="has-error">
                                <div *ngIf="bookingForm.controls.travellers.controls[i].controls.middleName.hasError('minlength')">Min 2 characters required.</div>
                                <div *ngIf="bookingForm.controls.travellers.controls[i].controls.middleName.hasError('maxlength')">Max 30 characters allowed.</div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <label [for]="'lname'+i">Last Name *</label>
                              <div class="input-wrap">
                                <input type="text" name="" class="form-control" [id]="'lname'+1" placeholder="Last Name" formControlName="lastName">
                              </div>
                              <div *ngIf="bookingForm.controls.travellers.controls[i].controls.lastName.errors && bookingForm.controls.travellers.controls[i].controls.lastName.touched" class="has-error">
                                <div *ngIf="bookingForm.controls.travellers.controls[i].controls.lastName.hasError('required')">You have to fill in Last Name to continue.</div>
                                <div *ngIf="bookingForm.controls.travellers.controls[i].controls.lastName.hasError('minlength')">Min 2 characters required.</div>
                                <div *ngIf="bookingForm.controls.travellers.controls[i].controls.lastName.hasError('maxlength')">Max 30 characters allowed.</div>
                                <div *ngIf="bookingForm.controls.travellers.controls[i].controls.lastName.hasError('validateFirstName')">Please type valid Last Name.</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label [for]="'mail'+i">Email <span *ngIf="i==0">*</span></label>
                              <div class="input-wrap">
                                <input type="email" class="form-control" [id]="'mail'+1" placeholder="Email Address" formControlName="email"/>
                              </div>
                              <div *ngIf="bookingForm.controls.travellers.controls[i].controls.email.errors && bookingForm.controls.travellers.controls[i].controls.email.touched" class="has-error">
                                <div *ngIf="bookingForm.controls.travellers.controls[i].controls.email.hasError('required')">You have to fill in Email to continue.</div>
                                <div *ngIf="bookingForm.controls.travellers.controls[i].controls.email.hasError('minlength')">Min 5 characters required.</div>
                                <div *ngIf="bookingForm.controls.travellers.controls[i].controls.email.hasError('maxlength')">Max 50 characters allowed.</div>
                                <div *ngIf="bookingForm.controls.travellers.controls[i].controls.email.hasError('validateEmail')">Invalid Email address.</div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label [for]="'phone'+i">Phone Number <span *ngIf="i==0">*</span></label>
                              <div class="input-wrap">
                                <input type="text" class="form-control" [id]="'phone'+i" placeholder="Phone Number" formControlName="contact"/>
                              </div>
                              <div *ngIf="bookingForm.controls.travellers.controls[i].controls.contact.errors && bookingForm.controls.travellers.controls[i].controls.contact.touched" class="has-error">
                                <div *ngIf="bookingForm.controls.travellers.controls[i].controls.contact.hasError('required')">You have to fill in contact to continue .</div>
                                <div *ngIf="bookingForm.controls.travellers.controls[i].controls.contact.hasError('minlength')">Min 7 characters required.</div>
                                <div *ngIf="bookingForm.controls.travellers.controls[i].controls.contact.hasError('maxlength')">Max 15 characters allowed.</div>
                                <div *ngIf="bookingForm.controls.travellers.controls[i].controls.contact.hasError('validatePhoneNum')">Invalid Phone Number.</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row" *ngIf="bookingDetails.tour.hasFlight">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label [for]="'country'+i">Passport Country *</label>
                              <div class="form-group">
                                <div class="select-style">
                                  <select class="select" [id]="'country'+i" formControlName="passport.country">
                                    <option></option>
                                    <option *ngFor="let country of countries">{{country.name}}</option>
                                  </select>
                                </div>
                                <div *ngIf="bookingForm.controls.travellers.controls[i].controls['passport.country'].errors && bookingForm.controls.travellers.controls[i].controls['passport.country'].touched" class="has-error">
                                  <div *ngIf="bookingForm.controls.travellers.controls[i].controls['passport.country'].hasError('required')">You have to choose Country to proceed.</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label [for]="'Passport'+i">Passport Number *</label>
                              <div class="input-wrap">
                                <input type="text" class="form-control" [id]="'Passport'+i" placeholder="Passport Number" formControlName="passport.number"/>
                              </div>
                              <div *ngIf="bookingForm.controls.travellers.controls[i].controls['passport.number'].errors && bookingForm.controls.travellers.controls[i].controls['passport.number'].touched" class="has-error">
                                <div *ngIf="bookingForm.controls.travellers.controls[i].controls['passport.number'].hasError('required')">You have to fill in Passport Number to continue .</div>
                                <div *ngIf="bookingForm.controls.travellers.controls[i].controls['passport.number'].hasError('minlength')">Min 7 characters required.</div>
                                <div *ngIf="bookingForm.controls.travellers.controls[i].controls['passport.number'].hasError('maxlength')">Max 15 characters allowed.</div>
                                <div *ngIf="bookingForm.controls.travellers.controls[i].controls['passport.number'].hasError('validatePassportNum')">Invalid Passport Number.</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row" *ngIf="i==0">
                          <div class="col-sm-12">
                            <div class="form-group">
                              <label [for]="'Request'+i">Speacial Request</label>
                              <div class="input-wrap">
                                <textarea class="form-control" [id]="'Request'+i" placeholder="Enter any other extra request for your booking" formControlName="specialRequest"></textarea>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tour-header" *ngIf="i==0">
                      <h3>Billing Address</h3>
                    </div>
                    <div class="steps step1-form no-border" *ngIf="i==0" [formGroupName]="i">
                      <div class="form-inner">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="form-group">
                              <label for="address">ADDRESS LINE 1 *</label>
                              <div class="input-wrap">
                                <input class="form-control" id="address" placeholder="Address Line 1" type="text" formControlName="addressLine1" >
                              </div>
                              <div *ngIf="bookingForm.controls.travellers.controls[i].controls.addressLine1.errors && bookingForm.controls.travellers.controls[i].controls.addressLine1.touched" class="has-error">
                                <div *ngIf="bookingForm.controls.travellers.controls[i].controls.addressLine1.hasError('required')">You have to fill in Address Line 1 to continue.</div>
                                <div *ngIf="bookingForm.controls.travellers.controls[i].controls.addressLine1.hasError('minlength')">Min 2 characters required.</div>
                                <div *ngIf="bookingForm.controls.travellers.controls[i].controls.addressLine1.hasError('maxlength')">Max 50 characters allowed.</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="form-group">
                              <label for="address">ADDRESS LINE 2</label>
                              <div class="input-wrap">
                                <input class="form-control" id="address" placeholder="Address Line 2" type="text" formControlName="addressLine2" >
                              </div>
                              <div *ngIf="bookingForm.controls.travellers.controls[i].controls.addressLine2.errors && bookingForm.controls.travellers.controls[i].controls.addressLine2.touched" class="has-error">
                                <div *ngIf="bookingForm.controls.travellers.controls[i].controls.addressLine2.hasError('required')">You have to fill in Address Line 2 to continue.</div>
                                <div *ngIf="bookingForm.controls.travellers.controls[i].controls.addressLine2.hasError('minlength')">Min 2 characters required.</div>
                                <div *ngIf="bookingForm.controls.travellers.controls[i].controls.addressLine2.hasError('maxlength')">Max 50 characters allowed.</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="SUBURB">SUBURB/TOWN *</label>
                              <div class="input-wrap">
                                <input class="form-control" id="SUBURB" placeholder="Suburb" type="text" formControlName="suburb" >
                              </div>
                              <div *ngIf="bookingForm.controls.travellers.controls[i].controls.suburb.errors && bookingForm.controls.travellers.controls[i].controls.suburb.touched" class="has-error">
                                <div *ngIf="bookingForm.controls.travellers.controls[i].controls.suburb.hasError('required')">You have to fill in Suburb to continue.</div>
                                <div *ngIf="bookingForm.controls.travellers.controls[i].controls.suburb.hasError('minlength')">Min 2 characters required.</div>
                                <div *ngIf="bookingForm.controls.travellers.controls[i].controls.suburb.hasError('maxlength')">Max 30 characters allowed.</div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="state">STATE/PROVINCE *</label>
                              <div class="form-group">
                                <div class="select-style">
                                  <select *ngIf="country.value == 'AU'" class="select" formControlName="state" id="stateSelect">
                                    <option>New South Wales</option>
                                    <option>Queensland</option>
                                    <option>Victoria</option>
                                    <option>Tasmania</option>
                                    <option>Western Australia</option>
                                    <option>South Australia</option>
                                  </select>
                                  <input *ngIf="country.value != 'AU'" type="text" class="form-control" id="state" placeholder="State" formControlName="state" #stateValue/>
                                </div>
                                <div *ngIf="bookingForm.controls.travellers.controls[i].controls.state.errors && bookingForm.controls.travellers.controls[i].controls.state.touched" class="has-error">
                                  <div *ngIf="bookingForm.controls.travellers.controls[i].controls.state.hasError('required')">You have to fill in State to continue.</div>
                                  <div *ngIf="bookingForm.controls.travellers.controls[i].controls.state.hasError('minlength')">Min 2 characters required.</div>
                                  <div *ngIf="bookingForm.controls.travellers.controls[i].controls.state.hasError('maxlength')">Max 30 characters allowed.</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="postCode">POST CODE *</label>
                              <div class="input-wrap">
                                <input class="form-control" id="postCode" placeholder="Post Code" type="text" formControlName="postCode">
                              </div>
                              <div *ngIf="bookingForm.controls.travellers.controls[i].controls.postCode.errors && bookingForm.controls.travellers.controls[i].controls.postCode.touched" class="has-error">
                                <div *ngIf="bookingForm.controls.travellers.controls[i].controls.postCode.hasError('required')">You have to fill in Post Code to continue.</div>
                                <div *ngIf="bookingForm.controls.travellers.controls[i].controls.postCode.hasError('minlength')">Min 4 characters required.</div>
                                <div *ngIf="bookingForm.controls.travellers.controls[i].controls.postCode.hasError('maxlength')">Max 12 characters allowed.</div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="Country">COUNTRY *</label>
                              <div class="form-group">
                                <div class="select-style">
                                  <select class="select" formControlName="country" #country (change)="resetStateValue(country.value)">
                                    <option></option>
                                    <option *ngFor="let country of countries" [value]="country.iso2">{{country.name}}</option>
                                  </select>
                                </div>
                                <div *ngIf="bookingForm.controls.travellers.controls[i].controls.country.errors && bookingForm.controls.travellers.controls[i].controls.country.touched" class="has-error">
                                  <div *ngIf="bookingForm.controls.travellers.controls[i].controls.country.hasError('required')">You have to select Country to continue.</div>
                                  <div *ngIf="bookingForm.controls.travellers.controls[i].controls.country.hasError('minlength')">Min 2 characters required.</div>
                                  <div *ngIf="bookingForm.controls.travellers.controls[i].controls.country.hasError('maxlength')">Max 30 characters allowed.</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
                </div>
                <section class="right-wrap payment-wrap" [formGroup]="cardForm" *ngIf="! bookingDetails.tour.hasFlight">
                  <h3>Payment Method</h3>
                  <div class="row">
                    <div class="col-12">
                      <div class="radio-wrap">
                        <input id="radio-a" class="radio-custom" name="radio-group" checked type="radio" (click)="hideCardForm=true; detectChanges()">
                        <label for="radio-a" class="radio-custom-label"><img src="images/paypal.png" alt=""></label>
                      </div>
                      <div class="radio-wrap">
                        <input id="radio-b" class="radio-custom" name="radio-group" type="radio" (click)="hideCardForm=false; detectChanges()">
                        <label for="radio-b" class="radio-custom-label">Pay with Credit Card</label>
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="hideCardForm==false">
                    <div class="col-12">
                      <div class="payment-form">
                        <div class="row">
                          <div class="col-sm-9">
                            <div class="form-group">
                              <label for="nameOnCard">Name on card</label>
                              <div class="input-wrap">
                                <input type="text" name="" class="form-control" id="nameOnCard" placeholder="Name on card" formControlName="nameOnCard">
                              </div>
                              <div *ngIf="cardForm.controls['nameOnCard'].errors && cardForm.controls['nameOnCard'].touched" class="has-error">
                                <div *ngIf="cardForm.controls.nameOnCard.hasError('required')">You have to fill in Name to continue.</div>
                                <div *ngIf="cardForm.controls.nameOnCard.hasError('minlength')">Min characters required is 2.</div>
                                <div *ngIf="cardForm.controls.nameOnCard.hasError('maxlength')">Max characters allowed is 30.</div>
                                <div *ngIf="cardForm.controls.nameOnCard.hasError('validateFirstName')">Please type valid Name to continue.</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-9">

                            <div class="form-group">
                              <label for="cardNumber">Card Number</label>
                              <div class="input-wrap">
                                <input type="text" name="" class="form-control" id="cardNumber" placeholder="Credit number" formControlName="cardNumber" (keyup)="setCardType(cardNumber.value)" #cardNumber>
                              </div>
                              <div *ngIf="cardForm.controls['cardNumber'].errors && cardForm.controls['cardNumber'].touched" class="has-error">
                                <div *ngIf="cardForm.controls.cardNumber.hasError('required')">You have to fill in Card Number to continue.</div>
                                <div *ngIf="cardForm.controls.cardNumber.hasError('minlength')">Min characters required is 12.</div>
                                <div *ngIf="cardForm.controls.cardNumber.hasError('maxlength')">Max characters allowed is 19.</div>
                                <div *ngIf="cardForm.controls.cardNumber.hasError('creditCard')">Please type valid Card Number.</div>
                              </div>
                            </div>
                          </div>
                          <div class="col-2">
                            <div class="side-img">
                              <span class="fa fa-cc-visa fa-2x" *ngIf="cardForm.value.cardType=='visa'"></span>
                              <span class="fa fa-cc-mastercard fa-2x" *ngIf="cardForm.value.cardType=='mastercard'"></span>
                              <span class="fa fa-cc-amex fa-2x" *ngIf="cardForm.value.cardType=='amex'"></span>
                              <span class="fa fa-cc-discover fa-2x" *ngIf="cardForm.value.cardType=='discover'"></span>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="exDate">Expiry Month</label>
                              <div class="select-style">
                                <select class="select" formControlName="expiryMonth" id="exDate">
                                  <option>01</option>
                                  <option>02</option>
                                  <option>03</option>
                                  <option>04</option>
                                  <option>05</option>
                                  <option>06</option>
                                  <option>07</option>
                                  <option>08</option>
                                  <option>09</option>
                                  <option>10</option>
                                  <option>11</option>
                                  <option>12</option>
                                </select>
                              </div>
                              <div *ngIf="cardForm.controls['expiryMonth'].errors && cardForm.controls['expiryMonth'].touched" class="has-error">
                                <div *ngIf="cardForm.controls.expiryMonth.hasError('required')">You have to select Expiry Year to continue.</div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="exDate">Expiry Year</label>
                              <div class="select-style">
                                <select class="select" formControlName="expiryYear" id="exDate">
                                  <option>2017</option>
                                  <option>2018</option>
                                  <option>2019</option>
                                  <option>2020</option>
                                  <option>2021</option>
                                  <option>2022</option>
                                  <option>2023</option>
                                </select>
                              </div>
                              <div *ngIf="cardForm.controls['expiryYear'].errors && cardForm.controls['expiryYear'].touched" class="has-error">
                                <div *ngIf="cardForm.controls.expiryYear.hasError('required')">You have to select Expiry Year to continue.</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-9">
                            <div class="form-group">
                              <label for="cvv">CVV <span></span></label>
                              <div class="input-wrap">
                                <input type="text" name="" class="form-control" id="cvv" placeholder="CVV" formControlName="cvvNumber">
                              </div>
                              <div *ngIf="cardForm.controls['cvvNumber'].errors && cardForm.controls['cvvNumber'].touched" class="has-error">
                                <div *ngIf="cardForm.controls.cvvNumber.hasError('required')">You have to fill in CVV Number to continue.</div>
                                <div *ngIf="cardForm.controls.cvvNumber.hasError('minlength')">Min characters required is 3.</div>
                                <div *ngIf="cardForm.controls.cvvNumber.hasError('maxlength')">Max characters allowed is 4.</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>

                <p *ngIf="!!cardError" class="process-wrap has-error">{{cardError}}</p>
                <p *ngIf="isProcessing" class="process-wrap">Your request is under processing. Please wait for a while.</p>
                <div class="form-group signup-option" *ngIf="! bookingDetails.tour.hasFlight">
                  <div class="row">
                    <div class="col-sm-8">
                      <p>By clicking the 'Next' button below, you have read and agreed width our <a [routerLink]="['/terms']" target="_blank"> Terms & Conditions</a> and <a [routerLink]="['/privacy']" target="_blank"> Privacy Policy</a> for us to process your tour booking.</p>
                    </div>
                    <div class="col-sm-4" >
                      <button [hidden]="hideCardForm==true" [disabled]="!bookingForm.valid || !cardForm.valid" type="button" class="btn green-btn" (click)="doCardPayment()">Next<span><i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
                      <button [hidden]="hideCardForm==false" [disabled]="!bookingForm.valid" type="button" class="btn green-btn" (click)="doPaypalPayment()">Next<span><i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
                    </div>
                  </div>
                </div>

                <div class="form-group signup-option" *ngIf="bookingDetails.tour.hasFlight">
                  <div class="row">
                    <div class="col-sm-8">
                      <p>By clicking the 'Next' button below, you have read and agreed width our <a [routerLink]="['/terms']" target="_blank"> Terms & Conditions</a> and <a [routerLink]="['/privacy']" target="_blank"> Privacy Policy</a> for us to process your tour booking.</p>
                    </div>
                    <div class="col-sm-4" >
                      <button [disabled]="!bookingForm.valid" type="button" class="btn green-btn" (click)="goToStep2()">Next<span><i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </main>
