<div class="departure-form" *ngIf="!!tour">
  <div class="row">
    <div class="col-md-12">
      <div class="book-form">
        <h4>How many people is travelling</h4>
        <form #f="ngForm" (ngSubmit)="doBooking(f)" [formGroup]="bookingForm">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="adults">Adult</label>
                <div class="select-style">
                  <input type="number" name="numOfAdults" #numOfAdults formControlName="numOfAdults" (blur)="setBookingPrice()" />
                </div>
                <div *ngIf="bookingForm.controls['numOfAdults'].errors && bookingForm.controls['numOfAdults'].touched" class="has-error">
									<div *ngIf="bookingForm.controls.numOfAdults.hasError('required')">You have to fill in this value.</div>
                  <div *ngIf="bookingForm.controls.numOfAdults.hasError('min')">Min value required is 1.</div>
                  <div *ngIf="bookingForm.controls.numOfAdults.hasError('max')">Max value allowed is 30.</div>
								</div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="Child">Child</label>
                <div class="select-style">
                  <input type="number" name="numOfChild" #numOfChild formControlName="numOfChild" (blur)="setBookingPrice()" />
                </div>
                <div *ngIf="bookingForm.controls['numOfChild'].errors && bookingForm.controls['numOfChild'].touched" class="has-error">
									<div *ngIf="bookingForm.controls.numOfChild.hasError('required')">You have to fill in this value.</div>
                  <div *ngIf="bookingForm.controls.numOfChild.hasError('min')">Min value required is 1.</div>
                  <div *ngIf="bookingForm.controls.numOfChild.hasError('max')">Max value allowed is 30.</div>
								</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h4>Tour Price</h4>
              <h5>{{tour.name}}</h5>
              <ul>
                <li [hidden]="bookingForm.controls['numOfAdults'].errors && bookingForm.controls['numOfAdults'].touched">
                  <span class="pull_left" [innerHTML]="'Adults x ' + booking.numOfAdults"></span>
                  <span class="pull_right" >
                    <currency [amount]="(booking.numOfAdults * booking.pricePerAdult)"></currency>
                  </span>
                </li>
                <li [hidden]="bookingForm.controls['numOfChild'].errors && bookingForm.controls['numOfChild'].touched">
                  <span class="pull_left" [innerHTML]="'Child x ' + booking.numOfChild"></span>
                  <span class="pull_right" >
                    <currency [amount]="(booking.numOfChild * booking.pricePerChild)"></currency>
                  </span>
                </li>
              </ul>
              <div class="total-wrap">
                <div class="row">
                  <div class="col-4">
                    <p>Total</p>
                  </div>
                  <div class="col-8">
                    <h2><currency [amount]=booking.totalPrice></currency></h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <button type="button" class="btn green-btn" (click)="doBooking()" [disabled]="!bookingForm.valid">Book now</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
