<header-main *ngIf="!! user"></header-main>
<main class="allbooking booking2" *ngIf="!! booking">
  <div class="grey-bg">
    <div class="container">
      <div class="row justify-content-sm-center">
        <div class="col-xl-10">
          <div class="row">
            <div class="col-md-4">
              <a [routerLink]="['/bookings']" class="green-anchor"><span><i class="fa fa-angle-left" aria-hidden="true"></i></span>See all bookings</a>
            </div>
            <div class="col-md-8 text-right side-btn">
              <!-- <button class="btn grey-btn">Cancel Tour</button> -->
              <!--<button class="btn green-btn pull-right" style="width: 200px;">Download Voucher</button>-->
            </div>
          </div>
        </div>
        <div class="col-xl-10">
          <!--booking-details-->
          <div class="booking-details">
            <div class="booking-img">
              <img *ngIf="! booking.tour.featuredImage?.url" src="images/trip.png" alt="">
              <img *ngIf="!! booking.tour.featuredImage?.url" [src]="booking.tour.featuredImage?.url" alt="">
            </div>
            <div class="booking-desc">
              <div class="hdr">
                <h3>{{booking.tour.name}}</h3>
                <p><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>{{booking.tour.departure}} &amp; {{booking.tour.destination}}</p>
              </div>
              <div class="booking-info">
                <div class="row">
                  <div class="col-sm-4">
                    <h6>Booking ID</h6>
                    <p *ngIf="!! booking.uniqueId">{{booking.uniqueId}}</p>
                    <p *ngIf="! booking.uniqueId">N.A</p>
                  </div>
                  <div class="col-sm-4">
                    <h6>Booking date</h6>
                    <p>{{booking.bookingDate | date}}</p>
                  </div>
                  <div class="col-sm-4">
                    <h6>Status</h6>
                    <p>{{bookingStatus}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-7">
                    <h6>Departure</h6>
                    <p>{{booking.startDate | date}} <span class="green-label" *ngIf="departInDays > 0">Depart in {{departInDays}} days</span></p>
                  </div>
                  <div class="col-md-5">
                    <h6>Return</h6>
                    <p>{{booking.endDate | date}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-10" *ngIf="! booking.cancelled">
          <div class="booking-details cancel-form">
            <h3>Booking Cancellation Request Form</h3>
            <form [formGroup]="cancellationForm" #f="ngForm">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="reason">Reason Type</label>
                    <div class="select-style">
                      <select class="select" formControlName="reason" id="reason">
                        <option>Got same tour on low price</option>
                        <option>Changed my schedule</option>
                      </select>
                    </div>
                    <div *ngIf="cancellationForm.controls['reason'].errors && cancellationForm.controls['reason'].touched" class="has-error">
                      <div *ngIf="cancellationForm.controls.reason.hasError('required')">You have to select a Reason Type to continue.</div>
                      <div *ngIf="cancellationForm.controls.reason.hasError('minlength')">Min 2 character required.</div>
                      <div *ngIf="cancellationForm.controls.reason.hasError('maxlength')">Maximum 100 characters allowed.</div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <p>
                    <strong>Note :</strong>
                    Your cancellation request will be forwarded to admin.
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="comments">Cancellation Reason</label>
                    <textarea class="form-control" placeholder="Leave your cancellation reason here..." formControlName="comments"></textarea>
                  </div>
                  <div *ngIf="cancellationForm.controls['comments'].errors && cancellationForm.controls['comments'].touched" class="has-error">
                    <div *ngIf="cancellationForm.controls.comments.hasError('required')">You have to fill in Cancellation Reason to continue.</div>
                    <div *ngIf="cancellationForm.controls.comments.hasError('minlength')">Min 2 character required.</div>
                    <div *ngIf="cancellationForm.controls.comments.hasError('maxlength')">Maximum 255 characters allowed.</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <button class="btn green-btn" (click)="cancelBooking()">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
