<header-main *ngIf="!!user"></header-main>
<main class="booking-history payment confirmation">
  <div class="user-head">
    <div class="container">
      <div class="row justify-content-sm-center">
        <div class="col-xl-10">
          <div class="row sort-bar">
            <div class="col-md-12">
              <div class="row">
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-9">
                      <div class="form-group">
                        <span><i class="fa fa-search" aria-hidden="true"></i></span>
                        <input type="search" class="form-control" #searchtext placeholder="Search Booking ID, tour name or suppliers..." (keyup)="search(searchtext.value)" (keydown)="clearsearch()" [(ngModel)]="searchString" />

                      </div>
                    </div>
                    <div class="col-3">
                      <div class="dropdown">
                        <div class="anchor-icons" *ngIf="false">
                          <a href="javascript:void(0)" class="top-anchor" [ngClass]="{'active': sortOrder == 1}" (click)="sortOrder=1; changeSortOrder(1);"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
                          <a href="javascript:void(0)" class="bottom-anchor" [ngClass]="{'active': sortOrder == -1}" (click)="sortOrder=-1; changeSortOrder(-1);"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        </div>
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span *ngIf="!sortBy">Sort</span>
                          <span *ngIf="!!sortBy" [innerHTML]="sortBy"></span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                          <button class="dropdown-item" type="button" (click)="sortBy='Booking Date (ASC)'; sortOrder=1; changeOrderBy('date_asc');">Booking Date (ASC)</button>
                          <button class="dropdown-item" type="button" (click)="sortBy='Booking Date (DESC)'; sortOrder=-1; changeOrderBy('date_desc');">Booking Date (DESC)</button>
                          <button class="dropdown-item" type="button" (click)="sortBy='Tour (A-Z)'; sortOrder=1; changeOrderBy('tour_asc');">Tour (A-Z)</button>
                          <button class="dropdown-item" type="button" (click)="sortBy='Tour (Z-A)'; sortOrder=-1; changeOrderBy('tour_desc');">Tour (Z-A)</button>
                          <button class="dropdown-item" type="button" (click)="sortBy='Departure Date (ASC)'; sortOrder=1; changeOrderBy('start_asc');">Departure Date (ASC)</button>
                          <button class="dropdown-item" type="button" (click)="sortBy='Departure Date (DESC)'; sortOrder=-1; changeOrderBy('start_desc');">Departure Date (DESC)</button>
                          <button class="dropdown-item" type="button" (click)="sortBy='Price (Lowest - Highest)'; sortOrder=1; changeOrderBy('price_asc');">Price (Lowest - Highest)</button>
                          <button class="dropdown-item" type="button" (click)="sortBy='Price (Highest - Lowest)'; sortOrder=-1; changeOrderBy('price_desc');">Price (Highest - Lowest)</button>
                          <button class="dropdown-item" type="button" (click)="sortBy='Length (Low - High)'; sortOrder=1; changeOrderBy('length_asc');">Length (Low - High)</button>
                          <button class="dropdown-item" type="button" (click)="sortBy='Length (High - Low)'; sortOrder=-1; changeOrderBy('length_desc');">Length (High - Low)</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="grey-bg">
    <div class="container">
      <div class="row justify-content-sm-center">
        <div class="col-xl-12">
          <div class="row">
            <div class="col-xl-8">
              <div class="right-wrap" *ngFor="let item of items; let i = index;">
                <div class="travel-detail booking-list" >
                  <div class="tarvel-title">
                    <div class="">
                      <div class="side-img">
                        <div class="img-wrp">
                            <a [routerLink]="['/bookings/view', item._id]">
                              <span *ngIf="!! item.tour.featuredImage?.url"><img src="uploads/images/{{item.tour.featuredImage.id}}-182-211.jpg" /></span>
                              <span *ngIf="! item.tour.featuredImage?.url"><img src="/images/trip.png" /></span>
                            </a>
                        </div>
                      </div>
                      <div class="side-content">
                        <div class="booking-list-desc">
                          <div class="booking-list-top">
                          <a [routerLink]="['/bookings/view', item._id]"><h5 style="margin-bottom: 5px;">{{item.tour.name}}</h5></a>
                          <a *ngIf="item.completed == true && ! item.tour.hasRated && item.paymentInfo.status == 'approved' && item.confirmed == true" [routerLink]="['/bookings/view', item._id]"><h6 style="margin-bottom: 5px; color: #7c8187;">Rate Tour</h6></a>

                          <span style="padding-right: 40px;">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span style="padding-left: 10px;">
                              {{item.tour.destination}}
                            </span>
                          </span>
                          <span style="padding-left: 40px; border-left: 1px solid #ccc;">
                            <img *ngIf="! item.tour.supplier?.image?.url" alt="" src="images/user.png" style="width: 35px;">
                            <img *ngIf="!! item.tour.supplier?.image?.url" alt="" [src]="item.tour.supplier?.image?.url" style="width: 35px;">

                            <span style="padding-left: 5px;" *ngIf="!! item.tour.supplier?.companyName">{{item.tour.supplier?.companyName}}</span>
                            <span style="padding-left: 5px;" *ngIf="! item.tour.supplier?.companyName">N.A.</span>
                            <span style="padding-left: 5px;"><i aria-hidden="true" class="fa fa-check-circle"></i></span>
                          </span>

                        </div>
                          <div class="travel-desc">
                          <div class="row">
                            <div class="col-sm-4">
                              <div class="">
                                <div class="icon-img">
                                  <img src="images/dd.png" alt="" />
                                </div>
                                <div class="icon-desc">
                                  <h5>Departure Date</h5>
                                  <p>{{item.startDate | date}}</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <div class="">
                                <div class="icon-img">
                                  <img src="images/rd.png" alt="" />
                                </div>
                                <div class="icon-desc">
                                  <h5>Return Date</h5>
                                  <p>{{item.endDate | date}}</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-4 " style="border-left: 1px solid #ccc;">
                              <div class="">
                                <div class="icon-img">
                                </div>
                                <div class="icon-desc">
                                  <h5>Status</h5>
                                  <p>{{getBookingStatus(item)}}</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="" *ngIf="itemsSize == 0">No bookings has been done yet.</div>
              <div class="pagination-control pagination-wrap right-wrap">
                <pagination-template id="bookings" #p="paginationApi"
                     (pageChange)="onPageChanged($event)" >

                    <div class="row">
                      <div class="col-4">
                        <button type="button" class="btn green-btn" [disabled]="p.isFirstPage()" (click)="p.previous()"><span><i class="fa fa-angle-left" aria-hidden="true"></i></span> Previous</button>
                      </div>
                      <div class="col-4 text-center">
                        <p>page</p>
                        <h4 [innerHTML]="p.getCurrent() + '/' + p.getLastPage()"></h4>
                      </div>
                      <div class="col-4 text-right">
                        <button type="button" class="btn green-btn" [disabled]="p.isLastPage()" (click)="p.next()">Next <span><i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
                      </div>
                    </div>
                </pagination-template>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="customer-support">
                <div class="row">
                  <div class="col-sm-12">
                    <h3>Customer Support</h3>
                    <p>Atorvia always provide the best experience for you during your trip. Call our support hotline whenever you need us, 24/7.</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-7">
                    <div class="contact-info">
                      <h4>Business Hour</h4>
                      <p>Monday to Friday 9am-5pm</p>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="contact-detail">
                      <p>(07) 0000 0000</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-7">
                    <div class="contact-info">
                      <h4>Other</h4>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="contact-detail">
                      <p>(07) 0000 0001</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-7">
                    <div class="contact-info">
                      <h4>International</h4>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="contact-detail">
                      <p>+61 7 0000 0001</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="give-feedback">
                <div class="table">
                  <div class="table-cell">
                    <h3>Tell us what you think about us</h3>
                    <p>Your feedback is really important for us to keep improving out platform in order to bring the best tour experience to you.</p>
                    <button type="button" class="btn green-btn">Leave us a feedback</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
