<div class="login-wrap reset-wrap">
  	<div class="container-fluid">
      	<div class="row">
          	<div class="col-md-6 side-images">
              	<div class="table-wrapper">
                  	<div class="center-content">
                      	<h3 class="title-line">ATORVIA</h3>
                          <p>Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est.</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
              	<div class="table-wrapper side-form">
                  	<div class="center-content login-form">
                      	<form [formGroup]="passwordForm" #f="ngForm" (ngSubmit)="changePassword()" id="input-icon">
                          	<div class="form-group forgot-pass">
                              	<h4>Reset Password</h4>
                                  <p>Type your new password below to reset your password.</p>
                              </div>
                              <div class="form-group">
                              	<label for="loginEmail">New Password</label>
                                  <div class="input-wrap">
                                  	<input type="password" class="form-control" id="reset" placeholder="Password" formControlName="newPassword"/>
                                      <span><i class="fa fa-lock" aria-hidden="true"></i></span>
                                  </div>
                              </div>
                              <div class='form-text error has-error' *ngIf="passwordForm.controls.newPassword.touched">
                                <div *ngIf="passwordForm.controls.newPassword.hasError('required')">You have to fill in New Password to proceed.</div>
                                <div *ngIf="passwordForm.controls.newPassword.hasError('minlength')">Minimum 8 characters required.</div>
                                <div *ngIf="passwordForm.controls.newPassword.hasError('maxlength')">Maximum 30 characters allowed.</div>
                                <div *ngIf="passwordForm.controls.newPassword.hasError('validatePassword')">At least 1 Uppercase Alphabet, 1 Lowercase Alphabet, 1 Number and 1 Special Character required.</div>
                              </div>
                              <div class="form-group">
                              	<label for="loginEmail">Confirm Password</label>
                                  <div class="input-wrap">
                                  	<input type="password" class="form-control" id="reset" placeholder="Password" formControlName="confirmPassword"/>
                                      <span><i class="fa fa-lock" aria-hidden="true"></i></span>
                                  </div>
                              </div>
                              <div class='form-text error has-error' *ngIf="passwordForm.controls.confirmPassword.touched">
                                <div *ngIf="passwordForm.hasError('mismatchedPasswords')">Passwords do not match.</div>
                                <div *ngIf="passwordForm.controls.confirmPassword.hasError('required')">You have to fill in Confirm Password to proceed.</div>
                                <div *ngIf="passwordForm.controls.confirmPassword.hasError('minlength')">Minimum 8 characters required.</div>
                                <div *ngIf="passwordForm.controls.confirmPassword.hasError('maxlength')">Maximum 30 characters allowed.</div>
                                <div *ngIf="passwordForm.controls.confirmPassword.hasError('validatePassword')">At least 1 Uppercase Alphabet, 1 Lowercase Alphabet, 1 Number and 1 Special Character required.</div>
                              </div>
                              <div class="form-group">
                              	<button type="submit" class="btn green-btn full-btn" [disabled]="!passwordForm.valid">Reset Password</button>
                              </div>
                          </form>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
