.user-head {
	@include padding(48px, 0, 48px, 0);
	height: 199px;
	border-bottom: 1px solid $border-color;
	@media (max-width: $medium-phone) {
		padding: 20px 0;
		height: auto;
	}
	.profile {
		.image-input {
			.update-img{
				@extend .absolute;
				left:0px;
				right: 0px;
				text-align: center;
				width: 122px;
				z-index: 555;
				font-size: $font-24;
				color: $green-color;
				bottom: -7px;
				cursor: pointer;

			}
			input{
				opacity: 0;
				width: 90px;
			}
		}
		@media (max-width: $medium-phone) {
			text-align: center;
		}
		.user-img {
			@extend .pull_left;
			@media (max-width: $medium-phone) {
				float: none;
				display: block;
				margin: 0 auto;
			}
			img {
				height: 102px;
				width: 102px;
				@include border-radius($full, $full, $full, $full);
			}
		}
		.user-deatil {
			@extend .inline-block;
			@extend .pull_left;
			@include margin(25px, 0, 0, 45px);
			@media (max-width: $medium-phone) {
				float: none;
				display: block;
				margin: 0 auto;
			}
			h4 {
				color: $label-color;
				font-size: $font-36;
				font-weight: $weight_900;
				margin-bottom: 0;
			}
			p {
				color: $grey-anchor;
				font-size: $font-16;
			}
		}
	}
}

.grey-bg {
	padding: 25px 0;
	.right-wrap {
		background: #fff;
		@include border-all(1px, solid, $border-color);
		width: $full;
		@extend .pull_left;
		.update-detail {
			padding: 24px 25px;
			@include border-bottom(1px, solid, $border-color);
			h3 {
				font-weight: $weight_700;
				font-size: $font-20;
				color: $label-color;
				margin-bottom: 5px;
			}
			p {
				font-size: $font-16;
				color: $grey-anchor;
				margin: 0;
			}
		}

		.detail-form {
			padding: 24px 25px;
			label {
				font-size: $font-14;
				color: $grey-anchor;
				margin-bottom: 3px;
			}
			#firstName, #lastName, #middleName {
				text-transform: capitalize;
			}
		}
	}

	.customer-support {
		background: $green-color;
		color: $white;
		padding: 20px;
		margin-bottom: 30px;
		@media (max-width: $ipad) {
			margin-top: 30px;
		}
		h3 {
			font-size: $font-20;
			font-weight: $weight_700;
			margin-bottom: 25px;
			color: $white;
		}
		p {
			font-size: $font-16;
			color: $white;
		}
		.contact-info {
			h4 {
				font-size: $font-16;
				color: $white;
			}
			p {
				font-size: $font-14;
				color: $white;
			}
		}

		.contact-detail	p {
			font-size: $font-14;
		}
	}
	.give-feedback {
		padding: 20px;
		color: $white;
		@extend .dark-grey-bg;
		.table {

			@extend .table;
			height: 350px;
			width: $full;
			.table-cell {
				@extend .table-cell;
				height: $full;
				width: $full;
				@extend .vertical-bottom;
				h3 {
					font-size: $font-26;
					font-weight: $weight_700;
					margin-bottom: 10px;
				}
			}
		}
	}
}

.booking-history {
	.user-head {
		height: auto;
		padding-top: 15px;
		padding-bottom: 5px;
		@media (max-width: $ipad) {
			height: auto;
    }
		.sort-bar {
			input,
			button {
				border: none;
      }
			@media (max-width: $ipad) {
				.col-md-2,
				.col-md-10 {
					text-align: center;
        }
      }
			.form-group > span {
				@extend .absolute;
				top: 3px;
				@media (max-width: $ipad) {
					left: 9px;
					top: 4px;
        }
      }
			.form-group > input {
				padding: 7px 0 0 25px;
				@include placeholder();
				@extend .placholder-font;
				color: $black;
      }
			.green-btn {
				padding: 6px 0;
				width: 165px;
				@extend .pull_right;
				@media (max-width: $laptop) {
					width: auto;
					padding: 6px 15px;
        }
				@media (max-width: $phone) {
					float: none;
        }
				i {
					margin-right: 10px;
        }
      }
			.anchor-icons{
				position: absolute;
				left: 2px;
				top: 2px;
				a{
					display: block;
					line-height: 12px;
				}
				a.active {
					color: $green-color;
				}
			}
			.dropdown-toggle {
				width: $full;
				@extend .text-left;
				color: $black;
				&:after {
					@extend .absolute;
					right: 3px;
					top : 16px;
        }
				&:hover {
					background: none;
        }
				&:focus {
					box-shadow: none;
					color: $black;
        }
				&:active {
					background: none;
        }
      }
    }
  }
}
