$white : #fff;
$green-color : #16a085;
$green-anchor : #05ad97;
$light-grey :  #c4d1da;
$label-color : #5a6b81;
$border-color : #e0e2e6;
$base-color: #7c8187;
$hover-green : #147d68;
$fb-colr : #3b5998;
$fb-hover : #2c416c;
$grey-anchor  : #8597ac;
$hedaer-hover : #8accbf;
$red : #d0021b;
$grey-bg : #f4f8f9;
$dark-grey-bg : #b8c6d1;
$placeholder: #e6e8eb;
$black: #000000;
$tab-bg: #f6f7f9;
$light-green: #5cbdaa;
$light-bg : #f9f9f9;
$grey-btn: #48576e;
$light-blue: #06b4fb;
$red2: #ee3d2e;
$red-hover: #c83428;
$grey: #c5d0de;
$grey2: #eef1f8;
$grey-3: #fafafa;
$grey-4: #dedede;
$grey-5: #c3d1d9;
$grey6: #eeeeee;
$white-2: #ffffec;
$light-green: #aabfb3;
.grey-bg {
	background-color: $grey-bg
}
.dark-grey-bg	{
	background-color : $dark-grey-bg
}
