$font_1: 'Helvetica Neue', Helvetica,Arial,sans-serif;
$font_2: 'Helvetica Neue LT Std', 'Helvetica Neue', Helvetica,Arial,sans-serif;

$weight_100: 100;
$weight_200: 200;
$weight_300: 300;
$weight_400: 400;
$weight_500: 500;
$weight_600: 600;
$weight_700: 700;
$weight_800: 800;
$weight_900: 900;

$font-10 : 10px;
$font-12 : 12px;
$font-14 : 14px;
$font-15 : 15px;
$font-16 : 16px;
$font-18 : 18px;
$font-20 : 20px;
$font-22 : 22px;
$font-24 : 24px;
$font-26 : 26px;
$font-28 : 28px;
$font-29 : 29px;
$font-30 : 30px;
$font-32 : 32px;
$font-36 : 36px;
$font-48 : 48px;
$font-64 : 64px;

.placholder-font {
  font-size: $font-14
}
