/*===================================
=            Brand Color            =
===================================*/
$brand-color: 						#16A085; // Atorvia Green
$brand-hover: 					    lighten($brand-color, 2%);

$brand-success:                     #27AE60;
$brand-error:                       #C0392B;

$brand-support-main: 				#48576E;
$brand-support-primary: 			#72849C;
$brand-support-secondary: 			#B8C6D1;	

// Grey Support Color
$grey-color-darkest: 				#333333;
$grey-color-darker: 				#555555;
$grey-color-dark: 					#777777;
$grey-color: 						#999999;
$grey-color-light: 					#B9B9B9;
$grey-color-lighter: 				#EEEEEE;
$grey-color-lightest: 				#F4F4F4;
$grey-color-bg:                     #FAFAFA;

// Social Media Color
$facebook: 							#3B5998;
$twitter: 							#00ACED;
$linkedin: 							#007BB6;
$facebook-hover: 					lighten($facebook, 5%);
$twitter-hover: 					lighten($twitter, 5%);
$linkedin-hover: 					lighten($linkedin, 5%);

// Custom Colors Variables
$heading-color: 					black;
$label-color:                       $brand-support-main;
$text-color: 						$brand-support-primary;
$border-color: 						#E0E2E6;

$banner-bg:                         #F9F9F9;